
<!--
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
h1
	{
	margin-top:10.0pt;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	font-size:20.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
h2
	{
	margin-top:9.0pt;
	margin-right:0cm;
	margin-bottom:7.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
h3
	{
	margin-top:9.0pt;
	margin-right:0cm;
	margin-bottom:7.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
h4
	{
	margin-top:2.0pt;
	margin-right:0cm;
	margin-bottom:2.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
h5
	{
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
h6
	{
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	font-size:11.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
	{
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:Verdana,sans-serif;
	font-style:italic;}
p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
	{
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	font-size:11.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoIndex1, li.MsoIndex1, div.MsoIndex1
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoIndex2, li.MsoIndex2, div.MsoIndex2
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:18.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoIndex3, li.MsoIndex3, div.MsoIndex3
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	font-size:14.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	font-size:11.0pt;
	font-family:Verdana,sans-serif;
	text-decoration:underline;
	}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoToc4, li.MsoToc4, div.MsoToc4
	{
	margin-top:0cm;
	margin-right:36.0pt;
	margin-bottom:0cm;
	margin-left:108.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoNormalIndent, li.MsoNormalIndent, div.MsoNormalIndent
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Arial,sans-serif;
	font-weight:bold;
	}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Arial,sans-serif;
	}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{
	margin:0cm;
	margin-bottom:.0001pt;
	border:none;
	border-top:solid WindowText .75pt;
	padding:0cm;
	padding:1.0pt 0cm 0cm 0cm;
	font-size:10.0pt;
	font-family:Arial,sans-serif;
	}
p.MsoIndexHeading, li.MsoIndexHeading, div.MsoIndexHeading
	{
	margin-top:15.1pt;
	margin-right:0cm;
	margin-bottom:6.1pt;
	margin-left:0cm;
	font-size:11.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
p.MsoCaption, li.MsoCaption, div.MsoCaption
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	font-style:italic;
	}
span.MsoFootnoteReference
	{
	}
p.MsoToaHeading, li.MsoToaHeading, div.MsoToaHeading
	{
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;}
p.MsoList, li.MsoList, div.MsoList
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:18.0pt;
	margin-bottom:.0001pt;
	text-indent:-18.0pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoList2, li.MsoList2, div.MsoList2
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-18.0pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin-top:12.1pt;
	margin-right:0cm;
	margin-bottom:36.1pt;
	margin-left:0cm;
	text-align:right;
	font-size:36.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoListContinue, li.MsoListContinue, div.MsoListContinue
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:18.0pt;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.MsoListContinue2, li.MsoListContinue2, div.MsoListContinue2
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Verdana,sans-serif;
	}
p.HeadingBase, li.HeadingBase, div.HeadingBase
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
p.Definition, li.Definition, div.Definition
	{
	margin-top:5.75pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.BodyTextTable, li.BodyTextTable, div.BodyTextTable
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.ByLine, li.ByLine, div.ByLine
	{
	margin-top:12.1pt;
	margin-right:0cm;
	margin-bottom:36.1pt;
	margin-left:0cm;
	text-align:right;
	font-size:14.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
p.CaptionTable, li.CaptionTable, div.CaptionTable
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	font-style:italic;
	}
p.CodeBase, li.CodeBase, div.CodeBase
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:"Courier New",monospace;
	}
p.CodeExplained, li.CodeExplained, div.CodeExplained
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:2.0pt;
	margin-left:36.0pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:"Courier New",monospace;
	}
p.Figures, li.Figures, div.Figures
	{
	margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.FiguresTable, li.FiguresTable, div.FiguresTable
	{
	margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.HeaderBase, li.HeaderBase, div.HeaderBase
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Arial,sans-serif;
	}
p.GlossaryTerm, li.GlossaryTerm, div.GlossaryTerm
	{
	margin-top:2.0pt;
	margin-right:0cm;
	margin-bottom:2.0pt;
	margin-left:0cm;
	line-height:14.0pt;
	font-size:11.0pt;
	font-family:Verdana,sans-serif;
	}
p.IndexBase, li.IndexBase, div.IndexBase
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.JumpBase, li.JumpBase, div.JumpBase
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.Jump, li.Jump, div.Jump
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.JumpfromContents, li.JumpfromContents, div.JumpfromContents
	{
	margin-top:1.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:14.0pt;
	font-size:11.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
p.JumpfromList, li.JumpfromList, div.JumpfromList
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.RelatedHead, li.RelatedHead, div.RelatedHead
	{
	margin-top:9.0pt;
	margin-right:0cm;
	margin-bottom:1.0pt;
	margin-left:0cm;
	font-size:11.0pt;
	font-family:Verdana,sans-serif;
	background:inherit;
	color:blue;
	font-weight:bold;
	}
p.KeywordLink, li.KeywordLink, div.KeywordLink
	{
	margin-top:9.0pt;
	margin-right:0cm;
	margin-bottom:1.0pt;
	margin-left:0cm;
	border:none;
	border-top:solid WindowText .75pt;
	padding:0cm;
	padding:1.0pt 0cm 0cm 0cm;
	font-size:11.0pt;
	font-family:Verdana,sans-serif;
	background:inherit;
	color:blue;
	font-weight:bold;
	}
p.List2Table, li.List2Table, div.List2Table
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-18.0pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.ListTable, li.ListTable, div.ListTable
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:18.0pt;
	margin-bottom:.0001pt;
	text-indent:-18.0pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.MarginNote, li.MarginNote, div.MarginNote
	{
	margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	font-style:italic;
	}
p.Note, li.Note, div.Note
	{
	margin-top:9.0pt;
	margin-right:0cm;
	margin-bottom:9.0pt;
	margin-left:0cm;
	line-height:14.0pt;
	border:none;
	border-top:solid WindowText .75pt;
	border-bottom:solid WindowText .75pt;
	padding:0cm;
	padding:1.0pt 0cm 1.0pt 0cm;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.Source, li.Source, div.Source
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:"Courier New",monospace;
	}
p.SourceTop, li.SourceTop, div.SourceTop
	{
	margin-top:5.75pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:"Courier New",monospace;
	}
p.SuperTitle, li.SuperTitle, div.SuperTitle
	{
	margin-top:48.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:72.0pt;
	margin-bottom:.0001pt;
	text-align:right;
	border:none;
	border-top:solid WindowText 6.0pt;
	padding:0cm;
	padding:1.0pt 0cm 0cm 0cm;
	font-size:14.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
p.TableBorder, li.TableBorder, div.TableBorder
	{
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:1.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.TableHeading, li.TableHeading, div.TableHeading
	{
	margin-top:3.0pt;
	margin-right:3.6pt;
	margin-bottom:0cm;
	margin-left:3.6pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
p.TableText, li.TableText, div.TableText
	{
	margin-top:2.0pt;
	margin-right:3.6pt;
	margin-bottom:2.0pt;
	margin-left:3.6pt;
	font-size:9.0pt;
	font-family:Verdana,sans-serif;
	}
p.TOCBase, li.TOCBase, div.TOCBase
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.TOCTitle, li.TOCTitle, div.TOCTitle
	{
	margin-top:9.0pt;
	margin-right:0cm;
	margin-bottom:7.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:24.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
span.D2HNoGloss
	{
	}
span.HTML
	{
	background:inherit;
	color:green;}
p.C1HBullet, li.C1HBullet, div.C1HBullet
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-18.0pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.C1HBullet2, li.C1HBullet2, div.C1HBullet2
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:54.0pt;
	margin-bottom:.0001pt;
	text-indent:-18.0pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.C1HBullet2A, li.C1HBullet2A, div.C1HBullet2A
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:54.0pt;
	margin-bottom:.0001pt;
	text-indent:-18.0pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.C1HNumber, li.C1HNumber, div.C1HNumber
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-18.0pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.C1HNumber2, li.C1HNumber2, div.C1HNumber2
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:54.0pt;
	margin-bottom:.0001pt;
	text-indent:-18.0pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.C1HContinue, li.C1HContinue, div.C1HContinue
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
p.C1HContinue2, li.C1HContinue2, div.C1HContinue2
	{
	margin-top:5.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:54.0pt;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana,sans-serif;
	}
span.C1HJump
	{}
span.C1HPopup
	{}
span.C1HIndex
	{
	background:inherit;
	color:WindowText;}
p.MidTopic, li.MidTopic, div.MidTopic
	{
	margin-top:9.0pt;
	margin-right:0cm;
	margin-bottom:7.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
p.WhatsThis, li.WhatsThis, div.WhatsThis
	{
	margin-top:9.0pt;
	margin-right:0cm;
	margin-bottom:7.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:Verdana,sans-serif;
	font-weight:bold;
	}
div.Section1
	{page:Section1;}
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
